<div class="caja">
  <div class="arriba">
    <div class="titulo">
     <span class="grande">
        COMO SER <br> UN DESARROLADOR!!
     </span>
     <span class="peque">
        COMO SER UN DESARROLADOR!!
     </span>
    </div>
    <div class="imagenes">
      <img src="./assets/img/html4.png" alt="" class="imglogo">
      <img src="./assets/img/css.png" alt="" class="imglogo">
      <img src="./assets/img/javascript.png" alt="" class="imglogo">
      <img src="./assets/img/php.png" alt="" class="imglogo">
      <img src="./assets/img/csharp.png" alt="" class="imglogo">
      <img src="./assets/img/python.png" alt="" class="imglogo">
      <img src="./assets/img/git.png" alt="" class="imglogo">
      <img src="./assets/img/mysql.png" alt="" class="imglogo">
    </div>
  </div>
  <div class="starte">
     <div class="button">GET STARTED</div>

  </div>
</div>
